<div>
    <h2><%= post.title %></h2>
    <span class="label label-info"><%= post.category %></span>
    <span class="muted">由<%= post.author %>编写于--<%= post.last_update %></span>
    <br/>
    <br/>

    <p><%- post.content %></p>
</div>

