<div>
    <h2><%= locals.post.title %></h2>
    <span class="label label-info"><%= locals.post.category %></span>
    <span class="muted">由<%= locals.post.author %>编写于--<%= locals.post.last_update %></span>
    <br/>
    <br/>

    <p><%- locals.post.content %></p>
</div>

