<% for(var i = 0 ;i < posts.length;i++){ %>
<div>
    <h2><a href="/post/detail/<%= posts[i].bid %>"><%= posts[i].title %></a></h2>
    <span class="label label-info"><%= posts[i].category %></span>
    <span class="muted">由<%= posts[i].author %>编写于--<%= posts[i].last_update %></span>
    <br/>
    <br/>

    <p><%- posts[i].content %></p>
</div>
<hr/>
<% } %>
